.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background: linear-gradient(180deg, #0f172a 0%, #1e293b 100%);
}

.featureCard {
  height: 100%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 2rem 0;
  }
}
